.main {
    padding: 20px;
    border-radius: 20px;
    border: 1px black solid;
    background-color: #eeeeee;
    margin: auto;
    width:60%;
    height: 60%;
    display: block;
}
.title {
    font-family: 'Courier New', Courier, monospace;
}
.button {
    text-align:center;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
}
.content {
    position: relative;
    top: 50%;
    font-family: 'Courier New', Courier, monospace;
}